<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite Executing All Test Files">
    <suite-files>
        <suite-file path="testng_smoke.xml"/>
        <suite-file path="testng_regression.xml"/>
        <suite-file path="testng_api.xml" />
    </suite-files>

</suite> <!-- Suite -->